body{
    margin:0;
    padding:0;
}
.container{
    overflow:hidden;
    width:412px;
}
.box{
    width:100px;
    height:100px;
    float:left;
    background-color:#ccc;
    margin-bottom:4px;
    text-align: center;
    font: 20px arial, sans-serif;
}

.spacing{
    margin-right:4px;
}

